model_configs {
    name: "CNNSegmentation"
    version: "1.0.0"
    string_params {
        name: "config_file"
        value: "/apollo/modules/perception/model/cnn_segmentation/cnn_segmentation/segmentor.conf"
    }

    string_params {
        name: "proto_file"
        value: "/apollo/modules/perception/model/cnn_segmentation/cnn_segmentation/deploy.prototxt"
    }

    string_params {
        name: "weight_file"
        value: "/apollo/modules/perception/model/cnn_segmentation/cnn_segmentation/deploy.caffemodel"
    }

    string_params {
        name: "post_config"
        #value: "/apollo/modules/perception/model/cnn_segmentation/cnn_segmentation/post-config.yaml"
        value: "/apollo/modules/perception/model/cnn_segmentation/cnn_segmentation/online-config.yaml"
    }

    string_params {
        name: "feature_config"
        value: "/apollo/modules/perception/model/cnn_segmentation/cnn_segmentation/feature.conf"
    }
}
