subnode_config {
    # Ultrasonic node
    subnodes {
        id: 3
        name: "UltrasonicObstacleSubnode"
        reserve: "device_id:ultrasonic;"
        type: SUBNODE_IN
    }

    # Camera node
    subnodes {
        id: 4
        name: "CameraProcessSubnode"
        reserve: "device_id:camera;pb_obj:0;pb_ln_msk_:0;"
        type: SUBNODE_IN
    }

    # Fusion node
    subnodes {
        id: 31
        name: "FusionSubnode"
        reserve: "pub_driven_event_id:1009;ultrasonic_event_id:1008;camera_event_id:1009;"
        type: SUBNODE_NORMAL
    }
}

###################################################################
# Define all edges which link nodes.
edge_config {
	# UltrasonicObstacleSubnode -> FusionSubnode
    edges {
        id: 108
        from_node: 3
        to_node: 31
        events {
            id: 1008
            name: "ultrasonic_fusion"
        }
    }
    
	# CameraProcessSubnode -> FusionSubnode
    edges {
        id: 109
        from_node: 4
        to_node: 31
        events {
            id: 1009
            name: "camera_fusion"
        }
    }
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "UltrasonicObjectData"
    }
    datas {
        id: 6
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 8
        name: "FusionSharedData"
    }
}
