SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{product}=="ZED", ATTRS{idVendor}=="2b03", ATTRS{idProduct}=="f582", MODE="0777", SYMLINK+="camera/obstacle", OWNER="nvidia", GROUP="nvidia"
